.texto-login{
    font-weight: bold;
    color: greenyellow;
}

.texto{
    color: #665544;
}

.text-decorator-none{
    text-decoration: none;
}

.imagem{
    background-image: url(https://camo.githubusercontent.com/7268772cece327e0aaacdb1d595fb62ea3cf8993cc748ec401486121a1663d21/68747470733a2f2f7265732e636c6f7564696e6172792e636f6d2f70726163746963616c6465762f696d6167652f66657463682f732d2d7a5f7934774455642d2d2f635f696d616767615f7363616c652c665f6175746f2c666c5f70726f67726573736976652c685f3432302c715f36362c775f313030302f68747470733a2f2f74686570726163746963616c6465762e73332e616d617a6f6e6177732e636f6d2f692f6e39623270336a3068316d6471766d73336f67632e676966);
    background-repeat: no-repeat; 
    width: 100vh;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

.box-login{
    background-color: blueviolet;
}

.botao-logar{
    background-color: #665544 !important;
    color: #E8D3B6 !important;
}
